body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:480px;
}
#u720 {
  position:absolute;
  left:2px;
  top:232px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:430px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:27px;
  top:24px;
  width:430px;
  height:430px;
}
#u722 {
  position:absolute;
  left:2px;
  top:207px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:2px;
}
#u723 {
  position:absolute;
  left:51px;
  top:120px;
  width:386px;
  height:1px;
}
#u724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u725 {
  position:absolute;
  left:154px;
  top:49px;
  width:40px;
  height:40px;
}
#u726 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u727 {
  position:absolute;
  left:168px;
  top:90px;
  width:13px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u729 {
  position:absolute;
  left:105px;
  top:55px;
  width:47px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u731_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:37px;
}
#u731 {
  position:absolute;
  left:639px;
  top:208px;
  width:2px;
  height:34px;
}
#u732 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u733 {
  position:absolute;
  left:63px;
  top:59px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u735 {
  position:absolute;
  left:63px;
  top:91px;
  width:53px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u737 {
  position:absolute;
  left:299px;
  top:93px;
  width:83px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:335px;
  top:49px;
  width:94px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u741 {
  position:absolute;
  left:395px;
  top:97px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u744 {
  position:absolute;
  left:90px;
  top:138px;
  width:143px;
  height:143px;
}
#u745 {
  position:absolute;
  left:2px;
  top:64px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u746 {
  position:absolute;
  left:248px;
  top:138px;
  width:143px;
  height:143px;
}
#u747 {
  position:absolute;
  left:2px;
  top:64px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:248px;
  top:296px;
  width:143px;
  height:143px;
}
#u749 {
  position:absolute;
  left:2px;
  top:64px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:90px;
  top:296px;
  width:143px;
  height:143px;
}
#u751 {
  position:absolute;
  left:2px;
  top:64px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:70px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  position:absolute;
  left:431px;
  top:248px;
  width:26px;
  height:70px;
}
#u753 {
  position:absolute;
  left:2px;
  top:27px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:70px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  position:absolute;
  left:431px;
  top:328px;
  width:26px;
  height:70px;
}
#u755 {
  position:absolute;
  left:2px;
  top:27px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:70px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u756 {
  position:absolute;
  left:419px;
  top:168px;
  width:38px;
  height:70px;
}
#u757 {
  position:absolute;
  left:2px;
  top:27px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u758 {
  position:absolute;
  left:430px;
  top:185px;
  width:17px;
  height:36px;
  color:#FFFFFF;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u760 {
  position:absolute;
  left:436px;
  top:345px;
  width:17px;
  height:36px;
  color:#FFFFFF;
}
#u761 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u762 {
  position:absolute;
  left:436px;
  top:265px;
  width:17px;
  height:36px;
  color:#FFFFFF;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u764 {
  position:absolute;
  left:133px;
  top:207px;
  width:57px;
  height:16px;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  position:absolute;
  left:291px;
  top:207px;
  width:57px;
  height:16px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:147px;
  top:360px;
  width:29px;
  height:16px;
}
#u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:305px;
  top:360px;
  width:29px;
  height:16px;
}
#u771 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u772 {
  position:absolute;
  left:419px;
  top:419px;
  width:20px;
  height:20px;
}
#u773 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
